h1, h2, p {
    color: #000000;
}

h1 {
    font-family: "Roboto Black", sans-serif;
}

h2, p {
    font-family: "Roboto Light", sans-serif;
}

.title {
    padding-top: 2em;
}

.subtitle {
    padding: 0;
    margin-bottom: 0;
}

.title, .subtitle {
    text-align: center;
}

.dataframe {
    align-self: center;
    font-family: "Roboto Medium", sans-serif;
    border-collapse: collapse;
    border: 1px solid #ad8d24;
    margin: 5px 5px 10px;
}

.dataframe th{
    font-size: 12pt;
    background: #ad8d24;
    color: white;
    border: 2px solid #ad8d24;
    text-align: left !important;
}

.dataframe td, th {
    padding: 5px;
}

.dataframe td {
    font-size: 11pt;
    font-weight: 600;
    color: #232323;
}

.logo {
    width: 150px;
    height: 100px;
    background-image: url('{{ logo_url }}');  /* Variável Jinja */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.linha-horizontal {
    border-bottom: 2px solid #ad8d24;  /* Cor e espessura da linha */
    margin: 20px 0;  /* Espaçamento acima e abaixo da linha */
}


